@import "./_setting.scss";


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  line-height: 1.3rem;
}

.trello-master{
  height: 100vh;
  overflow: hidden;
  line-height: 1.3em;
  background-color: $board-bg-color;

  
}

